/* fonts */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap&subset=cyrillic');


/* normalize */
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box}

/* Переменный */
:root{


	/* color norm */
	--bag: #f5f5f5;
	--tr: transparent;


	/* color white  */
	--wh: #fff;
	--wh1: rgba(255,255,255,.1);
	--wh2: rgba(255,255,255,.2);
	--wh3: rgba(255,255,255,.3);
	--wh4: rgba(255,255,255,.4);
	--wh5: rgba(255,255,255,.5);
	--wh6: rgba(255,255,255,.6);
	--wh7: rgba(255,255,255,.7);
	--wh8: rgba(255,255,255,.8);
	--wh9: rgba(255,255,255,.9);


	/* color black */
	--bl: #000;
	--bl1: rgba(0,0,0,.1);
	--bl2: rgba(0,0,0,.2);
	--bl3: rgba(0,0,0,.3);
	--bl4: rgba(0,0,0,.4);
	--bl5: rgba(0,0,0,.5);
	--bl6: rgba(0,0,0,.6);
	--bl7: rgba(0,0,0,.7);
	--bl8: rgba(0,0,0,.8);
	--bl9: rgba(0,0,0,.9);


	/* color grey */
	--gr: #999;
	--gr1: rgba(153,153,153,.1);
	--gr2: rgba(153,153,153,.2);
	--gr3: rgba(153,153,153,.3);
	--gr4: rgba(153,153,153,.4);
	--gr5: rgba(153,153,153,.5);
	--gr6: rgba(153,153,153,.6);
	--gr7: rgba(153,153,153,.7);
	--gr8: rgba(153,153,153,.8);
	--gr9: rgba(153,153,153,.9);


	/* color #1 */
	--cl: #EFCB0B;
	--cl1: rgba(239,203,11,.1);
	--cl2: rgba(239,203,11,.2);
	--cl3: rgba(239,203,11,.3);
	--cl4: rgba(239,203,11,.4);
	--cl5: rgba(239,203,11,.5);
	--cl6: rgba(239,203,11,.6);
	--cl7: rgba(239,203,11,.7);
	--cl8: rgba(239,203,11,.8);
	--cl9: rgba(239,203,11,.9);


	/* color #2 */
	--cm: #29313E;
	--cm1: rgba(41,49,62,.1);
	--cm2: rgba(41,49,62,.2);
	--cm3: rgba(41,49,62,.3);
	--cm4: rgba(41,49,62,.4);
	--cm5: rgba(41,49,62,.5);
	--cm6: rgba(41,49,62,.6);
	--cm7: rgba(41,49,62,.7);
	--cm8: rgba(41,49,62,.8);
	--cm9: rgba(41,49,62,.9);


	/* white box-shodow */
	--bxw1: 0 0 10px -2px rgba(255,255,255,.1);
	--bxw2: 0 0 10px -2px rgba(255,255,255,.2);
	--bxw3: 0 0 10px -2px rgba(255,255,255,.3);
	--bxw4: 0 0 10px -2px rgba(255,255,255,.4);
	--bxw5: 0 0 10px -2px rgba(255,255,255,.5);
	--bxw6: 0 0 10px -2px rgba(255,255,255,.6);
	--bxw7: 0 0 10px -2px rgba(255,255,255,.7);
	--bxw8: 0 0 10px -2px rgba(255,255,255,.8);
	--bxw9: 0 0 10px -2px rgba(255,255,255,.9);


	/* white box-shodow_t */
	--bxw_t1: 1px -4px 10px -4px rgba(255,255,255,.1);
	--bxw_t2: 1px -4px 10px -4px rgba(255,255,255,.2);
	--bxw_t3: 1px -4px 10px -4px rgba(255,255,255,.3);
	--bxw_t4: 1px -4px 10px -4px rgba(255,255,255,.4);
	--bxw_t5: 1px -4px 10px -4px rgba(255,255,255,.5);
	--bxw_t6: 1px -4px 10px -4px rgba(255,255,255,.6);
	--bxw_t7: 1px -4px 10px -4px rgba(255,255,255,.7);
	--bxw_t8: 1px -4px 10px -4px rgba(255,255,255,.8);
	--bxw_t9: 1px -4px 10px -4px rgba(255,255,255,.9);


	/* white box-shodow_b */
	--bxw_b1: 1px 4px 10px -4px rgba(255,255,255,.1);
	--bxw_b2: 1px 4px 10px -4px rgba(255,255,255,.2);
	--bxw_b3: 1px 4px 10px -4px rgba(255,255,255,.3);
	--bxw_b4: 1px 4px 10px -4px rgba(255,255,255,.4);
	--bxw_b5: 1px 4px 10px -4px rgba(255,255,255,.5);
	--bxw_b6: 1px 4px 10px -4px rgba(255,255,255,.6);
	--bxw_b7: 1px 4px 10px -4px rgba(255,255,255,.7);
	--bxw_b8: 1px 4px 10px -4px rgba(255,255,255,.8);
	--bxw_b9: 1px 4px 10px -4px rgba(255,255,255,.9);


	/* box-shodow */
	--bx1: 0 0 10px -2px rgba(0,0,0,.1);
	--bx2: 0 0 10px -2px rgba(0,0,0,.2);
	--bx3: 0 0 10px -2px rgba(0,0,0,.3);
	--bx4: 0 0 10px -2px rgba(0,0,0,.4);
	--bx5: 0 0 10px -2px rgba(0,0,0,.5);
	--bx6: 0 0 10px -2px rgba(0,0,0,.6);
	--bx7: 0 0 10px -2px rgba(0,0,0,.7);
	--bx8: 0 0 10px -2px rgba(0,0,0,.8);
	--bx9: 0 0 10px -2px rgba(0,0,0,.9);


	/* box-shodow top */
	--bx_t1: 0 -4px 10px -4px rgba(0,0,0,.1);
	--bx_t2: 0 -4px 10px -4px rgba(0,0,0,.2);
	--bx_t3: 0 -4px 10px -4px rgba(0,0,0,.3);
	--bx_t4: 0 -4px 10px -4px rgba(0,0,0,.4);
	--bx_t5: 0 -4px 10px -4px rgba(0,0,0,.5);
	--bx_t6: 0 -4px 10px -4px rgba(0,0,0,.6);
	--bx_t7: 0 -4px 10px -4px rgba(0,0,0,.7);
	--bx_t8: 0 -4px 10px -4px rgba(0,0,0,.8);
	--bx_t9: 0 -4px 10px -4px rgba(0,0,0,.9);


	/* box-shodow bottom */
	--bx_b1: 0 4px 10px -4px rgba(0,0,0,.1);
	--bx_b2: 0 4px 10px -4px rgba(0,0,0,.2);
	--bx_b3: 0 4px 10px -4px rgba(0,0,0,.3);
	--bx_b4: 0 4px 10px -4px rgba(0,0,0,.4);
	--bx_b5: 0 4px 10px -4px rgba(0,0,0,.5);
	--bx_b6: 0 4px 10px -4px rgba(0,0,0,.6);
	--bx_b7: 0 4px 10px -4px rgba(0,0,0,.7);
	--bx_b8: 0 4px 10px -4px rgba(0,0,0,.8);
	--bx_b9: 0 4px 10px -4px rgba(0,0,0,.9);


	/* text-shodow white */
	--txw1: 1px 4px 10px rgba(255,255,255,.1);
	--txw2: 1px 4px 10px rgba(255,255,255,.2);
	--txw3: 1px 4px 10px rgba(255,255,255,.3);
	--txw4: 1px 4px 10px rgba(255,255,255,.4);
	--txw5: 1px 4px 10px rgba(255,255,255,.5);
	--txw6: 1px 4px 10px rgba(255,255,255,.6);
	--txw7: 1px 4px 10px rgba(255,255,255,.7);
	--txw8: 1px 4px 10px rgba(255,255,255,.8);
	--txw9: 1px 4px 10px rgba(255,255,255,.9);


	/* text-shodow */
	--tx1: 1px 4px 10px rgba(0,0,0,.1);
	--tx2: 1px 4px 10px rgba(0,0,0,.2);
	--tx3: 1px 4px 10px rgba(0,0,0,.3);
	--tx4: 1px 4px 10px rgba(0,0,0,.4);
	--tx5: 1px 4px 10px rgba(0,0,0,.5);
	--tx6: 1px 4px 10px rgba(0,0,0,.6);
	--tx7: 1px 4px 10px rgba(0,0,0,.7);
	--tx8: 1px 4px 10px rgba(0,0,0,.8);
	--tx9: 1px 4px 10px rgba(0,0,0,.9);

	--tm: .5s;
}

/* html - body */
html{
	scroll-behavior: smooth;
}
html, body{
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}
body{
	background: var(--bag);
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: var(--bl);
}
@media (max-width: 768px) {
	body{
		padding-bottom: 54px;
	}
}


::-webkit-scrollbar{
	width:7px;
	height:7px;
	background: var(--tr);
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb{
	background: var(--cm);
	border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--cl);
}
::-webkit-scrollbar-track{
	background: var(--tr);
}
::-webkit-scrollbar-track-piece{
	background: var(--tr);
}
@media (max-width: 780px) {
	::-webkit-scrollbar{
		display: none;
	}
}

.ovr_h{overflow: hidden;}





/* css tag */
input, textarea{
	outline: none;
	border: none;

	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 15px;
	border-radius: 8px;
	transition: var(--tm);
}
input:focus{
	box-shadow:inset var(--bx9);
}


a{text-decoration: none; color:var(--bl)}

ul, li{list-style: none;}

h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:28px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}
@media (max-width: 780px) {
	h1{font-size:32px;}
	h2{font-size:28px;}
	h3{font-size:24px;}
	h4{font-size:20px;}
	h5{font-size:18px;}
	h6{font-size:16px;}
}
@media (max-width: 480px) {
	h1{font-size:30px;}
	h2{font-size:24px;}
	h3{font-size:20px;}
	h4{font-size:18px;}
	h5{font-size:16px;}
	h6{font-size:14px;}
}
@media (max-width: 375px) {
	h1{font-size:24px;}
	h2{font-size:20px;}
	h3{font-size:18px;}
	h4{font-size:16px;}
	h5{font-size:14px;}
	h6{font-size:13px;}
}


/* css classes */
.f_l{float:left}
.f_r{float:right}


.posr{position: relative;}


.dsp_n{display:none !important;}
.dsp_b{display:block !important;}


.mb_10{margin-bottom:10px !important;}


.mt_10{margin-top: 10px !important;}


.bx_none{box-shadow: none !important;}

.txt_c{text-align: center;}


/* block_center */
.bl_c{
	width: 100%;
	display: flow-root;
	position: relative;
	margin: auto;
	max-width: 1200px;
}
@media (max-width:1220px) 	{.bl_c{width: calc(100% - 18px)}}
@media (max-width:1024px) 	{.bl_c{width: calc(100% - 16px)}}
@media (max-width:768px) 	{.bl_c{width: calc(100% - 14px)}}
@media (max-width:480px) 	{.bl_c{width: calc(100% - 12px)}}
@media (max-width:425px) 	{.bl_c{width: calc(100% - 10px)}}
@media (max-width:375px) 	{.bl_c{width: calc(100% - 8px)}}
@media (max-width:320px) 	{.bl_c{width: calc(100% - 6px)}}

/*  */
.head_c{
	width: 100%;
	padding: 120px 0;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
	overflow: hidden;
}
@media (max-width:480px){
	.head_c{
		padding-top: 50px;
	}
}
.head_c::after{
	width: 50px;
	height: 2px;
	background: var(--cl);
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;

	animation: left_right 5s linear infinite;
}
.txt_wh{
	color: var(--wh);
}
.head_gr{
	margin-top: 15px;
	color: var(--gr);
}





/* preloader */
.preloader{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	background: var(--bl);
	top: 0;
	left: 0;
	transition: var(--tm);
}
.preloader_c{
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	position: relative;
}
svg {
  display:block;
  width:258px;
  height:258px;
  position: relative;
}
.tree {
  fill: var(--cl);
}
.circle-mask {
  transform-origin: 50% 90%;
  animation: scale 3s infinite ease-out;
}
@keyframes scale {
  0%, 100% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(1);
  }
}
.preloader_c h1{
	color: var(--cl);
	position: relative !important;
}
.name_pas{
	display: flex;
	justify-content: center;
	height: 24px;
	z-index: 10000;

	position: absolute;
	top: 0 !important;
	bottom: 0 !important;
	margin: auto;

	transform: rotate(-90deg) translateY(-60px) !important;
}
.name_pasl, .name_pasl a{
	position: relative;
	color: var(--gr7);
	transition: var(--tm);
}
.name_pasl:hover a{
	color: var(--wh);
}
@media (max-width: 375px) {
	.name_pasl, .name_pasl a{
		font-size: 11px;
	}
}





/* кнопки */
.btn{
	position: relative;
   	font-size: 16px;
   	transition: var(--tm);
   	margin: auto;
   	padding: 0 15.4px;
   	height: 38px;

	display: flex;
	justify-content: center;
	align-items: center;
   	cursor: pointer;

	border-radius: 8px;
   	border: 1px solid var(--tr);
	background: var(--cm);
	color: var(--wh);
	box-shadow: var(--bx_b4);

   	user-select: none;
}
.btn:hover{
	background: var(--tr);
	box-shadow: var(--bx4);
	color: var(--cl);
	border-color: var(--cl);
	text-shadow: var(--tx3);
}
.btn:active{
	transform: translateY(3px);
}
.btn_cl{
	background: var(--cl);
	color: var(--cm);
}








.ph_menu{
	width: 100%;
	height: 54px;
	background: var(--cm);
	position: fixed;
	bottom: 0;
	left: 0;

    z-index: 99999;

    display: none;
    box-shadow: var(--bx3);
}
@media (max-width: 768px) {
	.ph_menu{
		display: block;
	}
}

.phm_it{
	width: 25%;
	height: 54px;
	float: left;
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: var(--tm);
	color: var(--gr);
}
.phm_ita{
	color: var(--wh);
}
.phm_it i{
	margin-bottom: 5px;
}
.phm_name{
	width: 0;
	opacity: 0;
	transition: var(--tm);
}
.phm_ita .phm_name{
	width: auto;
	opacity: 1;
	margin-left: 10px;
}










/*  */
.bl_top{
	position: fixed;
	z-index: 888;
	bottom: 15px;
	left: -100px;

	width: 60px;
	height: 60px;
	background: var(--cm);
	cursor: pointer;
	border-radius: 20px;
	box-shadow: var(--bx_b5);

	display: flex;
	justify-content: center;
	align-items: center;

    transition: var(--tm);
}
.bl_top_act{
	left: 15px;
}
.bl_top:hover{
	animation: ta_da_vert var(--tm) linear;
}
.bl_top a{
	font-size: 33px;
	color: var(--wh);
}
.bl_top i{
	transition: var(--tm);
	text-shadow: 1px 1px 2px var(--bl5);
}
@media (max-width: 768px) {
	.bl_top{
		display: none !important;
	}
}



/*  */
.na_vniz{
	position: relative;
	width: 60px;
	height: 60px;
	margin: auto;
	margin-top: 50px;
	background: var(--gr3);
	cursor: pointer;
	border-radius: 20px;
	box-shadow: var(--bx_b5);

	display: flex;
	justify-content: center;
	align-items: center;

    transition: var(--tm);
	font-size: 33px;
	color: var(--wh);
	animation: ta_da_vert var(--tm) linear infinite;
}
.na_vniz:hover{
	animation-play-state: paused;
	background: var(--gr5);
}
.na_vniz i{
	transition: var(--tm);
	text-shadow: 1px 1px 2px var(--bl5);
}
@media (max-width: 768px) {
	.bl_top{
		display: none !important;
	}
}
@media (max-width: 768px) {
	.na_vniz{
		display: none;
	}
}




/*  */
.bl_zvn{
	position: fixed;
	z-index: 888;
	bottom: 15px;
	right: 15px;

	width: 60px;
	height: 60px;
	background: var(--cm);
	cursor: pointer;
	border-radius: 20px;
	box-shadow: var(--bx_b5);

	display: flex;
	justify-content: center;
	align-items: center;

    transition: var(--tm);
}
.bl_zvn:hover{
	animation: ta_da_vert var(--tm) linear;
}
.bl_zvn a{
	font-size: 33px;
	color: var(--wh);
}
.bl_zvn i{
	transition: var(--tm);
	text-shadow: 1px 1px 2px var(--bl5);
}
.bl_zvn:hover i{
	transform: rotate(-90deg);
}

@media (max-width: 768px) {
	.bl_zvn{
		display: none !important;
	}
}
















/* animation */
@keyframes ta_da {
	0%, 100%{
		transform: translateX(0);
	}
	12.5%, 62.5%{
		transform: translateX(-5px);
	}
	37.5%, 87.5%{
		transform: translateX(5px);
	}
}
@keyframes ta_da_vert {
	0%, 100%{
		transform: translateY(0);
	}
	12.5%, 62.5%{
		transform: translateY(-5px);
	}
	37.5%, 87.5%{
		transform: translateY(5px);
	}
}